/* To format the background picture */
body{
    background-image: url("../images/background.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

/* Format various headers */
h1{
    color: white;
    text-align: center;
    font-size: 50px;
}

h2,
h3,
h4,
h5,
h6,
h7{
    font-size: 25px;
}

/* To format game container box */
.game-container{
    margin: auto;
    background-image: url("../images/gray_sand.png");
    text-align: center;
    color: white;
    width: 30%;
    overflow: auto;
}

#image{
    height: 220px;
    width: 200px;
}
